body{
	background-color: rgb(236, 240, 241);
	color: black;

}

.frm-login{
    width: 500px;
    height: auto;
    margin: auto;
    background-color: rgb(236, 240, 241);
    border: 1px solid black;
    border-radius: 10px;
}
.frm-head{
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;
	padding-left: 5px;
    height: 60px;
    color:white;
    background-color: dimgrey;
    box-shadow:0px 0px 2px 0px black;
}
.frm-body{
    margin: 10px 0 10px 5px;
    height: auto;
}
.round {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;    
    color: #FFF;
    text-align: center;  
}
.round.round-sm {
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.7em;
}
.round.round-lg {
    height: 40px;
    width: 40px;
    line-height: 40px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 1.5em;
}

