body{
    background: rgb(236, 240, 241);
    color: black;
}
.navbar, .dropdown-menu{
color: black;
background:dimgrey;
border: none;

}
.dropdown >a, ul>li>a{
  color:white  !important;
}

#panelinfofct{
	width: 30%;
	padding: 10px;
}